@use "colors";

.link {
  color: colors.$color-primary-500;
  text-decoration: underline;
  text-underline-offset: 0.1em;
  cursor: pointer;
  transition: background-color 0.25s ease;

  &:hover {
    background-color: colors.$color-primary-100;
  }

  &.dark-mode {
    color: colors.$color-primary-400;

    &:hover {
      background-color: colors.$color-primary-800;
    }
  }
}


.card {
  padding: 1rem;
  border-radius: 1rem;
  border: colors.$color-slate-400 1px solid;
  background-color: colors.$color-slate-30;
  box-shadow: 0.125rem 0.125rem 0.5rem rgba(colors.$color-slate-700, 0.2);

  &.dark-mode {
    background-color: colors.$color-slate-800;
    border-color: colors.$color-slate-900;
    box-shadow: 0.125rem 0.125rem 0.5rem rgba(colors.$color-slate-400, 0.2);

    &.glass {
      background-color: rgba(colors.$color-slate-700, 0.3);
      border-color: colors.$color-slate-700;
    }

    &.light-glass {
      background-color: rgba(colors.$color-slate-950, 0.1);
    }

    &.no-shadow {
      box-shadow: none;
    }
  }

  > *:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  &.borderless {
    border: none;
  }

  &.no-shadow {
    box-shadow: none;
  }

  &.glass {
    background-color: rgba(colors.$color-slate-50, 0.3);
    backdrop-filter: blur(18px);
  }

  &.light-glass {
    background-color: rgba(colors.$color-slate-50, 0.1);
    backdrop-filter: blur(24px);
    border: none;
  }
}
