/* koibumi v0.0.4 */

* {
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color: #1b1b17;
}

body.dark-mode * {
    color: #f8f8f6;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1rem;
    font-weight: normal;
}

a {
    text-decoration: none;
}
.round-no-left-top {
    border-top-left-radius: 0;
}

.round-no-right-top {
    border-top-right-radius: 0;
}

.round-no-left-bottom {
    border-bottom-left-radius: 0;
}

.round-no-right-bottom {
    border-bottom-right-radius: 0;
}
button.button-solid-primary, a.button-solid-primary {
    padding: 0.625rem 1.25rem;
    font-size: 1.125rem;
    border-radius: 0.75rem;
    transition: background-color 0.3s ease, border-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
    cursor: pointer;
    background-color: #cf2f5e;
    border: 2px solid #cf2f5e;
    color: #FAE9EE;
}
button.button-solid-primary:active, a.button-solid-primary:active {
    transform: scale(0.95);
}
button.button-solid-primary:hover, a.button-solid-primary:hover {
    border-color: #d9587e;
    background-color: #d9587e;
}

button.button-light-primary, a.button-light-primary {
    padding: 0.625rem 1.25rem;
    font-size: 1.125rem;
    border-radius: 0.75rem;
    transition: background-color 0.3s ease, border-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
    cursor: pointer;
    background-color: rgba(245, 212, 222, 0);
    border: 2px solid rgba(245, 212, 222, 0);
    color: #cf2f5e;
}
button.button-light-primary:active, a.button-light-primary:active {
    transform: scale(0.95);
}
button.button-light-primary:hover, a.button-light-primary:hover {
    border-color: #f5d4de;
    background-color: #f5d4de;
}
body.dark-mode button.button-light-primary:hover, body.dark-mode a.button-light-primary:hover {
    border-color: #7b1c38;
    background-color: #7b1c38;
}

button.button-outline-primary, a.button-outline-primary {
    padding: 0.625rem 1.25rem;
    font-size: 1.125rem;
    border-radius: 0.75rem;
    transition: background-color 0.3s ease, border-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
    cursor: pointer;
    background-color: rgba(250, 233, 238, 0);
    border: 2px solid #cf2f5e;
    color: #cf2f5e;
}
button.button-outline-primary:active, a.button-outline-primary:active {
    transform: scale(0.95);
}
button.button-outline-primary:hover, a.button-outline-primary:hover {
    border-color: #d9587e;
    color: #d9587e;
}

button.button-flat-primary, a.button-flat-primary {
    padding: 0.625rem 1.25rem;
    font-size: 1.125rem;
    border-radius: 0.75rem;
    transition: background-color 0.3s ease, border-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
    cursor: pointer;
    background-color: #f5d4de;
    border: 2px solid #f5d4de;
    color: #cf2f5e;
}
button.button-flat-primary:active, a.button-flat-primary:active {
    transform: scale(0.95);
}
button.button-flat-primary:hover, a.button-flat-primary:hover {
    color: #d9587e;
    background-color: rgba(245, 212, 222, 0.6);
    border-color: rgba(245, 212, 222, 0.6);
}
body.dark-mode button.button-flat-primary, body.dark-mode a.button-flat-primary {
    background-color: #7b1c38;
    color: #FAE9EE;
    border-color: #7b1c38;
}
body.dark-mode button.button-flat-primary:hover, body.dark-mode a.button-flat-primary:hover {
    background-color: #a5264b;
    border-color: #a5264b;
}

button.button-ghost-primary, a.button-ghost-primary {
    padding: 0.625rem 1.25rem;
    font-size: 1.125rem;
    border-radius: 0.75rem;
    transition: background-color 0.3s ease, border-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
    cursor: pointer;
    background-color: rgba(207, 47, 94, 0);
    border: 2px solid #cf2f5e;
    color: #cf2f5e;
}
button.button-ghost-primary:active, a.button-ghost-primary:active {
    transform: scale(0.95);
}
button.button-ghost-primary:hover, a.button-ghost-primary:hover {
    color: #FAE9EE;
    background-color: #cf2f5e;
}

button.button-glow-primary, a.button-glow-primary {
    padding: 0.625rem 1.25rem;
    font-size: 1.125rem;
    border-radius: 0.75rem;
    transition: background-color 0.3s ease, border-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
    cursor: pointer;
    background-color: #cf2f5e;
    border: 2px solid #cf2f5e;
    color: #FAE9EE;
    box-shadow: 0 0.125rem 1rem rgba(207, 47, 94, 0.6);
}
button.button-glow-primary:active, a.button-glow-primary:active {
    transform: scale(0.95);
}
button.button-glow-primary:hover, a.button-glow-primary:hover {
    border-color: #d9587e;
    background-color: #d9587e;
}

button.button-disabled, a.button-disabled {
    cursor: not-allowed;
    position: relative;
    pointer-events: none;
}
button.button-disabled::before, a.button-disabled::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: 0;
    bottom: 0;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    background-color: rgba(243, 243, 241, 0.5);
    border-radius: 0.75rem;
}
body.dark-mode button.button-disabled::before, body.dark-mode a.button-disabled::before {
    background-color: rgba(27, 27, 23, 0.5);
}
.card {
    padding: 1rem;
    border-radius: 1rem;
    border: #a1a191 1px solid;
    background-color: #f8f8f6;
    box-shadow: 0.125rem 0.125rem 0.5rem rgba(82, 82, 70, 0.2);
}
body.dark-mode .card {
    background-color: #37372f;
    border-color: #1b1b17;
    box-shadow: 0.125rem 0.125rem 0.5rem rgba(161, 161, 145, 0.2);
}
body.dark-mode .card.glass {
    background-color: rgba(82, 82, 70, 0.3);
    border-color: #525246;
}
body.dark-mode .card.light-glass {
    background-color: rgba(13, 13, 12, 0.1);
}
body.dark-mode .card.no-shadow {
    box-shadow: none;
}
.card > *:not(:last-child) {
    margin-bottom: 0.5rem;
}
.card.borderless {
    border: none;
}
.card.no-shadow {
    box-shadow: none;
}
.card.glass {
    background-color: rgba(243, 243, 241, 0.3);
    backdrop-filter: blur(18px);
}
.card.light-glass {
    background-color: rgba(243, 243, 241, 0.1);
    backdrop-filter: blur(24px);
    border: none;
}
label.input-solid-normal {
    font-size: 0.75rem;
    padding: 0.75rem 1rem;
    display: block;
    border-radius: 0.75rem;
    background-color: #e7e7e3;
    transition: background-color 0.3s ease;
}
label.input-solid-normal input {
    margin-top: 0.25rem;
    box-sizing: border-box;
    width: 100%;
    display: block;
    font-size: 1rem;
    padding: 0.25rem 0;
    background: none;
    border: none;
}
body.dark-mode label.input-solid-normal {
    background-color: #525246;
    color: #F3F3F1;
}
body.dark-mode label.input-solid-normal input::placeholder {
    color: #a1a191;
}
body.dark-mode label.input-solid-normal:hover {
    background-color: #606052;
}
label.input-solid-normal input::placeholder {
    color: #898975;
}
label.input-solid-normal.fix-margin-top input {
    margin-top: 0;
}
label.input-solid-normal:hover {
    background-color: #eeeeec;
}
h1.emphasize, h2.emphasize, h3.emphasize, h4.emphasize, h5.emphasize, h6.emphasize {
    color: #cf2f5e;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.35rem;
    font-weight: bold;
}

h5 {
    font-size: 1.2rem;
    font-weight: bold;
}

h6 {
    font-size: 1rem;
    font-weight: bold;
}

blockquote {
    background-color: rgba(243, 243, 241, 0.3);
    backdrop-filter: blur(18px);
    padding: 1rem;
    border-radius: 6px 1rem 1rem 6px;
    border-left: #cf2f5e 6px solid;
    box-shadow: 0.125rem 0.125rem 0.5rem rgba(82, 82, 70, 0.2);
}
body.dark-mode blockquote {
    background-color: rgba(82, 82, 70, 0.3);
    color: #F3F3F1;
    box-shadow: 0.125rem 0.125rem 0.5rem rgba(161, 161, 145, 0.2);
}

code {
    display: block;
    color: white;
    padding: 1rem 1rem 1rem 2.25rem;
    border-radius: 0.5rem;
    background: #37372f;
    overflow-x: auto;
    font-family: "Fira Code", monospace;
}
code pre {
    color: white;
}
code::-webkit-scrollbar {
    height: 0.5rem;
}
code::-webkit-scrollbar-thumb {
    background-color: #cf2f5e;
    border-radius: 5px;
}
code::-webkit-scrollbar-track {
    background-color: #1b1b17;
}

a {
    color: #a5264b;
    transition: color 0.25s ease;
}
a:hover {
    color: #cf2f5e;
    text-decoration: underline;
    text-underline-offset: 0;
}
body.dark-mode a {
    color: #d9587e;
}
body.dark-mode a:hover {
    color: #e2819e;
}