---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import {SITE_TITLE, SITE_DESCRIPTION} from '../consts';
import GitHubIcon from "../components/icons/GitHubIcon.astro";
---

<!doctype html>
<html lang="en">
<head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}/>
</head>
<body>
<Header/>
<main>
    <div class="card glass" id="avatar-bio">
        <img src="/avatar.webp" alt="avatar"/>
        <div id="bio">
            <h2 class="emphasize">
                {SITE_TITLE}
            </h2>
            <p>
                {SITE_DESCRIPTION}
            </p>
            <div>
                <p>
                    Contact me:
                </p>
                <div id="contact">
                    <a class="icon-link" href="https://github.com/koibumi-design" target="_blank">
                        <GitHubIcon/>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="card glass">
        <h3>
            Pinned Posts
        </h3>
    </div>
</main>
<Footer/>
</body>
</html>

<style>
    main {
        max-width: 70rem;
        margin: 3rem auto;
        padding: 0 1rem;
    }

    main > .card {
        width: 100%;
    }

    main > .card {
        margin-bottom: 2rem;
    }
    main > .card:last-child {
        margin-bottom: 0;
    }

    #avatar-bio {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }

    #avatar-bio > img {
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
    }

    #bio {
        max-width: 20rem;
    }

    @media (max-width: 700px) {
        #avatar-bio {
            flex-direction: column;
        }

        #bio {
            max-width: 100%;
        }
    }

    #bio > p {
        line-height: 1.5;
        letter-spacing: .02rem;
    }

    #bio > * {
        margin-bottom: 0.75rem;
    }

    #bio > *:last-child {
        margin-bottom: 0;
    }

    #contact {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-top: .25rem
    }

    .icon-link {
        height: 2rem;
        width: 2rem;
    }
</style>