---
import {COPYRIGHT_NAME, GLOBAL_STYLE} from "../consts";
import "@/styles/components.scss";
import {clsx} from "clsx";
const today = new Date();
---

<footer
    id="footer-container"
    class={clsx(
        "card",
        GLOBAL_STYLE === 'glass' && 'glass',
        GLOBAL_STYLE === 'lightGlass' && 'light-glass',
    )}
>
        &copy; {today.getFullYear()}&nbsp;{COPYRIGHT_NAME}. All rights reserved.<br>
        Powered by <a class="link" href="https://github.com/koibumi-design/astro-blog">Koibumi Design</a>
</footer>

<style>
    #footer-container {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    footer {
        text-align: center;
    }
</style>