---
import type {HTMLAttributes} from 'astro/types';
import '@/styles/button.scss'
import {clsx} from "clsx";

type Props = HTMLAttributes<'a'>;

const {href, class: className, ...props} = Astro.props;

const {pathname} = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + subpath?.[0];
---

<a
    href={href?.toString()}
    target='_self'
    class={clsx(
        className,
        'md link-button',
        isActive ? 'button-solid-primary' : 'button-light-primary'
    )}
    {...props}
>
  <slot/>
</a>
