---
import HeaderLink from './HeaderLink.astro';
import {Card, Typo, Link} from "@koibumi-design/solidjs";
import {GLOBAL_STYLE, SITE_TITLE} from '../consts';
---

<Card class="head-container" variant={GLOBAL_STYLE}>
	<header>
		<nav>
			<Typo variant="h1">
				<Link href="/" id="title">
					{SITE_TITLE}
				</Link>
			</Typo>
			<div class="internal-links">
				<HeaderLink href="/">Home</HeaderLink>
				<HeaderLink href="/blog">Blog</HeaderLink>
				<HeaderLink href="https://github.com/koibumi-design/astro-blog">GitHub</HeaderLink>
			</div>
		</nav>
	</header>
</Card>


<style>
	.head-container {
		border-top-right-radius: 0;
		border-top-left-radius: 0;
	}

	#title {
		text-decoration: none;
	}

	#title:hover {
		text-decoration: underline;
	}

    nav {
        padding: 0 0.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 90rem;
        margin: 0 auto;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .internal-links {
        height: 100%;
        display: flex;
        align-items: center;
        gap: .5rem;
		flex-wrap: wrap;
    }
</style>
